


$primary-color: hsl(220, 98%, 61%);
$check-bkgrd: linear-gradient( #57ddff, #c058f3) ;

// LightTheme

$bkgrd-colorl: hsl(0, 0%, 98%);
$todo-colorl: #fff;
// :hsl(236, 33%, 92%);
$border-colorl:	hsl(255, 8%, 91%);

$todo-crossedl:hsl(236, 33%, 92%);
// $input-colorl
//  hsl(233, 11%, 84%);
$options-colorl:hsl(236, 9%, 61%);
$list-font-colorl:hsl(235, 19%, 35%);

// Dark Theme

$input-color: hsl(234, 39%, 85%);

$bkgrd-color:hsl(235, 21%, 11%);
$todo-crossed:hsl(235, 24%, 19%);

$options-color-hover:hsl(236, 33%, 92%);
$options-color:hsl(234, 11%, 52%);
$list-font-color: hsl(233, 14%, 35%);

@import "./components/radiocheck";


// - Very Dark Grayish Blue: hsl(237, 14%, 26%)

body{
    margin: 0;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    height: 100%;
}



#header{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3rem;
    padding-bottom: 10rem;
    // background: url("../images/bg-desktop-dark.jpg");
    background-repeat:space;
    height: 70%;
    h1{
        font-weight: 400;
        font-size: 3rem;
        margin: 0;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1rem;
    }
    .sun{
        width: 3rem;
    }
    .moon{
        display: none;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
}

@mixin change-theme($back-color, $back-img, $back-list, $txt-color, $border, $shadow){
    background-color: $back-color;
    color: $txt-color;
    .shadow{
        box-shadow: 16px 35px 50px .5px $shadow ;

    }
    #header{
        background-image: $back-img;
    }
    .newTodo{
        background-color: $back-list;
    }
    input{
        color:$txt-color;
    }
    #toDoList{
        li{
            background-color: $back-list;
            border-bottom: solid 1px $border ;
        }
    }
    
    .option{
        background-color: $back-list;
    }


}

.theme{
    &--dark{
        @include change-theme($bkgrd-color, url("../images/bg-desktop-dark.jpg"), $todo-crossed, $input-color, $list-font-color,black);
    }
    &--light{
        @include change-theme($bkgrd-colorl, url("../images/bg-desktop-light.jpg"), $todo-colorl, $list-font-colorl, $border-colorl,rgb(212, 212, 212));
    }
}

#toDoList{
    min-height: 100%;
    margin-top: -10rem;
    padding-left: 25%;
    padding-right: 25%;
    .newTodo{
        margin-bottom: 1rem;
        width: 100%;
        height: 4rem;
        border: none;
        padding: 0;
        padding-left: 4rem;
        box-sizing: border-box;
        font-size: 18px;
        border-radius: 8px;
        left: 3rem;
    }
    ul{
        padding: 0;
        align-items: center;
        li{
            cursor:move;
            &:first-child{
                border-radius:8px 8px 0 0 ;

            }
            div{
                margin-left: 1rem;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
            overflow-x: none;
            width: 100%;
            height: 4rem;
            list-style-type: none;
        }
    }
}

#options{
    position: relative;
    margin-top: -1.1rem;
    padding-left: 25%;
    padding-right: 25%;
}
.option{
    height: 4rem;
    border-radius: 0 0 8px 8px;
    padding: 0 1rem;
    color: $options-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .check{
    //     border-radius: 100%;
    //     &:after{
    //         content:"";
    //         width: 4rem;
    //         height: 4rem;
    //         background-color: red;
    //         border-radius: 100%;
    //     }
    // }

    
    ul{
        li{
            
            list-style: none;
            display: inline;
            margin-right: 1rem;
            &:hover{
                color:$options-color-hover;
            }
            &:active{
                color:$primary-color;
            }
        }

    }
    button{
        background: none;
        border: none;
        font-size: 18px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        color: $options-color;
        align-content: center;
        cursor: pointer;
        &:hover{
            color:$options-color-hover;
        }


    }

}


#footer{
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    
    p{
        margin-top: 6rem;
        color: $options-color;
    }
    footer{
        position: relative;
        bottom:0;
        margin: 0 auto;
        padding-top: 50px;
        height: 50px;
    }
}

.btn--add{
    border-radius: 100%;
    height: 25px;
    width: 25px;
    border: none;
    color:#fff;
    font-size: 20px;
    background-image: $check-bkgrd;
    position: relative;
    top: 2.7rem;
    left: 1rem;
    cursor: pointer;

}



.crossed{
    text-decoration:line-through;
    color: $options-color;
}