.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container p {
  font-size: 18px;
  margin: 0;
  margin-left: 1rem;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-image: linear-gradient(#57ddff, #c058f3);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

body {
  margin: 0;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  height: 100%;
}

#header {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 3rem;
  padding-bottom: 10rem;
  background-repeat: space;
  height: 70%;
}
#header h1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
#header .sun {
  width: 3rem;
}
#header .moon {
  display: none;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.theme--dark {
  background-color: #161722;
  color: #cacde8;
}
.theme--dark .shadow {
  box-shadow: 16px 35px 50px 0.5px black;
}
.theme--dark #header {
  background-image: url("../images/bg-desktop-dark.jpg");
}
.theme--dark .newTodo {
  background-color: #25273c;
}
.theme--dark input {
  color: #cacde8;
}
.theme--dark #toDoList li {
  background-color: #25273c;
  border-bottom: solid 1px #4d5066;
}
.theme--dark .option {
  background-color: #25273c;
}
.theme--light {
  background-color: #fafafa;
  color: #484b6a;
}
.theme--light .shadow {
  box-shadow: 16px 35px 50px 0.5px #d4d4d4;
}
.theme--light #header {
  background-image: url("../images/bg-desktop-light.jpg");
}
.theme--light .newTodo {
  background-color: #fff;
}
.theme--light input {
  color: #484b6a;
}
.theme--light #toDoList li {
  background-color: #fff;
  border-bottom: solid 1px #e7e6ea;
}
.theme--light .option {
  background-color: #fff;
}

#toDoList {
  min-height: 100%;
  margin-top: -10rem;
  padding-left: 25%;
  padding-right: 25%;
}
#toDoList .newTodo {
  margin-bottom: 1rem;
  width: 100%;
  height: 4rem;
  border: none;
  padding: 0;
  padding-left: 4rem;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 8px;
  left: 3rem;
}
#toDoList ul {
  padding: 0;
  align-items: center;
}
#toDoList ul li {
  cursor: move;
  overflow-x: none;
  width: 100%;
  height: 4rem;
  list-style-type: none;
}
#toDoList ul li:first-child {
  border-radius: 8px 8px 0 0;
}
#toDoList ul li div {
  margin-left: 1rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#options {
  position: relative;
  margin-top: -1.1rem;
  padding-left: 25%;
  padding-right: 25%;
}

.option {
  height: 4rem;
  border-radius: 0 0 8px 8px;
  padding: 0 1rem;
  color: #777a92;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option ul li {
  list-style: none;
  display: inline;
  margin-right: 1rem;
}
.option ul li:hover {
  color: #e4e5f1;
}
.option ul li:active {
  color: #3a7bfd;
}
.option button {
  background: none;
  border: none;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #777a92;
  align-content: center;
  cursor: pointer;
}
.option button:hover {
  color: #e4e5f1;
}

#footer {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}
#footer p {
  margin-top: 6rem;
  color: #777a92;
}
#footer footer {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  padding-top: 50px;
  height: 50px;
}

.btn--add {
  border-radius: 100%;
  height: 25px;
  width: 25px;
  border: none;
  color: #fff;
  font-size: 20px;
  background-image: linear-gradient(#57ddff, #c058f3);
  position: relative;
  top: 2.7rem;
  left: 1rem;
  cursor: pointer;
}

.crossed {
  text-decoration: line-through;
  color: #777a92;
}

/*# sourceMappingURL=styles.css.map */
